# System files
.DS_Store

# Object files
*.o

# Libraries
*.lib
*.a

# Executables
*.out
*.exe
minishell

# Temp files
*.swp

# Debug files
*.dSYM/

# VS Code files
.vscode

# Others files
test.c
vgcore.*